@use "./reset";

* {
  font-family: "Noto Sans HK", sans-serif;
}

body {
  background-color: #F5F5F5;
}

.image-generator {
  position           : relative;
  width              : 100%;
  height             : 40vh;
  background         : url(/images/bg.jpg);
  background-size    : cover;
  background-position: center;
  display            : flex;
  align-items        : center;
  justify-content    : center;

  &::before {
    content         : '';
    position        : absolute;
    left            : 0;
    top             : 0;
    width           : 100%;
    height          : 100%;
    opacity         : .5;
    background-color: #121212;
  }
}

.image-generator {
  .content {
    position: relative;
    width   : 760px;
    color   : #FFF;
    padding : 0 15px;
  }
}

.content {
  h1 {
    color         : #FFF;
    font-size     : 3rem;
    font-weight   : 700;
    text-align    : center;
    letter-spacing: 3px;
  }

  h4 {
    color         : #FFF;
    font-size     : 1.125rem;
    font-weight   : 500;
    text-align    : center;
    letter-spacing: 2px;
    margin-top    : 15px;
  }

  .generator-form {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    width          : 100%;
    height         : 50px;
    padding        : 10px;
    background     : #FFF;
    border-radius  : 50px;
    margin-top     : 35px;
  }
}

.generator-form {
  .prompt-input {
    width           : 100%;
    height          : 100%;
    outline         : none;
    border          : none;
    padding         : 0 10px;
    color           : #121212;
    font-size       : .875rem;
    background-color: transparent;

    &::placeholder {
      color: #9E9E9E;
    }
  }

  .control {
    display: flex;
    height : 100%;
    gap    : 15px;
  }
}

.control {
  .img-quantity {
    height          : 100%;
    outline         : none;
    border          : none;
    background-color: transparent;
    font-size       : .875rem;
    color           : #121212;
    cursor          : pointer;
  }

  .generator-btn {
    height          : 100%;
    padding         : 0 25px;
    background-color: #6A87BD;
    color           : #FFF;
    border          : none;
    outline         : none;
    border-radius   : 50px;
    font-size       : .875rem;
    cursor          : pointer;
    white-space     : nowrap;
    overflow        : hidden;

    transition: all .15s ease-in-out;

    &:hover {
      background-color: #5A6F9E;
    }
  }
}

.image-gallery {
  display        : flex;
  justify-content: center;
  gap            : 20px;
  margin         : 40px 0;
  flex-wrap      : wrap;
}

.image-gallery {
  .img-card {
    position    : relative;
    width       : 285px;
    aspect-ratio: 1 / 1; // 保持圖片比例

    &:hover:not(.loader) .download-btn {
      opacity  : 1;
      transform: scale(1);
    }

    &.loader img {
      box-shadow      : none;
      background-color: #EEE;
    }
  }
}

.img-card {
  img {
    width        : 100%;
    height       : 100%;
    object-fit   : cover;
    border-radius: 8px;
    box-shadow   : 0 0 5px 1px #00000016;
  }

  .download-btn {
    display         : flex;
    align-items     : center;
    justify-content : center;
    position        : absolute;
    bottom          : 15px;
    right           : 15px;
    width           : 35px;
    height          : 35px;
    border-radius   : 50%;
    background-color: #FFF;
    text-decoration : none;

    opacity   : 0;
    transform : scale(.5);
    transition: all .2s ease-in-out;

    &:hover {
      background-color: #F4F4F4;
    }
  }
}

.download-btn {
  i {
    color      : #121212;
    font-size  : 1.125rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 760px) {
  .content {
    h1 {
      font-size: 1.8rem;
    }

    h4 {
      font-size: 1rem;
    }

    .generator-form {
      display   : block;
      margin-top: 28px;
      height    : 52px;
    }
  }

  .generator-form {
    .control {
      height         : 40px;
      margin-top     : 15px;
      align-items    : center;
      justify-content: flex-end;
    }
  }

  .control {
    .img-quantity {
      color: #FFF;

      option {
        color: #121212;
      }
    }
  }

  .image-gallery {
    margin: 25px 0;
  }

  .image-gallery {
    .img-card {
      &:not(.loader) .download-btn {
        display  : flex;
        opacity  : 1;
        transform: scale(1);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .image-gallery {
    .img-card {
      width: 90%;
    }
  }
}