/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Noto Sans HK", sans-serif;
}

body {
  background-color: #F5F5F5;
}

.image-generator {
  position: relative;
  width: 100%;
  height: 40vh;
  background: url(/images/bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-generator::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #121212;
}

.image-generator .content {
  position: relative;
  width: 760px;
  color: #FFF;
  padding: 0 15px;
}

.content h1 {
  color: #FFF;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
}
.content h4 {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 15px;
}
.content .generator-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 10px;
  background: #FFF;
  border-radius: 50px;
  margin-top: 35px;
}

.generator-form .prompt-input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 10px;
  color: #121212;
  font-size: 0.875rem;
  background-color: transparent;
}
.generator-form .prompt-input::-moz-placeholder {
  color: #9E9E9E;
}
.generator-form .prompt-input::placeholder {
  color: #9E9E9E;
}
.generator-form .control {
  display: flex;
  height: 100%;
  gap: 15px;
}

.control .img-quantity {
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 0.875rem;
  color: #121212;
  cursor: pointer;
}
.control .generator-btn {
  height: 100%;
  padding: 0 25px;
  background-color: #6A87BD;
  color: #FFF;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 0.875rem;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
}
.control .generator-btn:hover {
  background-color: #5A6F9E;
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.image-gallery .img-card {
  position: relative;
  width: 285px;
  aspect-ratio: 1/1;
}
.image-gallery .img-card:hover .download-btn {
  opacity: 1;
  transform: scale(1);
}
.img-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0862745098);
}
.img-card .download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #FFF;
  text-decoration: none;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.2s ease-in-out;
}
.img-card .download-btn:hover {
  background-color: #F4F4F4;
}

.download-btn i {
  color: #121212;
  font-size: 1.125rem;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */